<div class='big-header'><h3>问题</h3></div>	
<%= render :partial => "show_question", :collection => @questions %>
<% content_for :loadmore do %>
<div id="endless">
	<div id="loadmore" nHd="1" pHu="/questions/index/">载入更多</div>
</div>
<% end %>