.tf {
	width:100%; border:1px solid #ccc; font-size:16px; padding:3px; margin:15px 0px; }
.ta {
	width:100%; border:1px solid #ccc; font-size:14px; padding:3px; margin:0; height:200px; line-height:1.4; }
.cmt {
	height:80px; }
#preview {
	width:100%; }
#box {
	width:100%; border:1px dotted #ccc; font-size:14px; padding:3px; margin:0; min-height:28px; line-height:1.4; }
.some_margin {
	margin:15px 0; }