html {
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.border-box {
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.radius {
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius:3px; }
	.radius-round {
		-webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; }
h1 {
	font-size:23px; font-weight: bold; }

a {
	color:#36c; text-decoration:none; }
	a:hover {
		color:#6c3; text-decoration:none;	}
#container {
	width:980px; margin:0 20px; }
#content {
	float:left; width:680px; }
	.question {
		float:left; width:100%; border-bottom:1px dotted #ddd; line-height:1.4; padding-top:5px; padding-bottom:8px; }
		.question .title a{
			font-size: 17px; }
		.tags {
			float:left; width:100%; margin-top:2px; }
			.tag {
				float:left; border:2px solid #36c; margin-right:10px; padding:1px 6px; font-size:12px; }
			.e {
				font-size:12px;color:#ddd; }
		.comment {
			color:#555; font-size:13px; padding-left:30px; }