#container {
	width:980px; margin:0 auto;
}
#header{
	
}
#wrapper {
	float:left;
}
#footer{
	
}
h3 {
	color: #636363;
}
.mainwords {
	float:left; line-height:1.4; color:#555; font-size:15px;
}
.votes_trend {
	float:left; width:100%; color:#999; font-size:28px; font-weight:bold; text-align:center;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius:6px;
}

.block {
	float:left; width:720px; border: 2px solid #E6E6E6; background:white; padding:8px; }
	.block-top {
		border-bottom:0;
	}
	.radius-block {
		-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius:6px;
	}
	.radius-block-top {
		-webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;
	}
	.radius-block-bottom {
		-webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
		-moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px;
	}
	.left-block{
		float:left; width:40px;
	}
	.right-block{
		margin-left:50px;
	}
.kid-block {
	margin-left:730px; border: 2px solid #E6E6E6; background:white; padding:8px;
}
.avatar {
	width:32px; height:32px;
}
.user-name {
	font-size:14px; color:#555; margin-left:5px; }
.golden {
	float:left; background:#fcd200; height:8px; width:8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius:4px;
}
.silver {
	float:left; background:silver; height:8px; width:8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius:4px;
}
.bronze {
	float:left; background:#cc9966; height:8px; width:8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius:4px;
}
.metal {
	float:left;
}
.honor-td {
	padding:0 5px;
}
.rp {
	color:#555;
}
.metal-number {
	font-size:13px; color:#555;
}
.block-margin {
	margin-top:10px;
}

/* answer */
#create-answer {
	float:left;
}
#answers {
	float:left; width:100%;
}
#answers > .answer {
	float:left; width:100%;
}

/* button margin */
.some_margin {
	margin: 8px 0px 0px;
}

/* about comment */
.create-comment {
	float:left; width:100%; }

.comment {
	float:left; width:100%; color:#666; font-size:13px; border-bottom:1px solid #f0f0f0; padding:5px 0; line-height:1.4; 
}
.comment:last-child {
	border-bottom:0;
}
.comment_votes {
	width:24px;
}
.sub-block {
	float:left; width:100%; border: 2px solid #ccc; background:white; padding:8px; margin-top:15px;
}
.add-comment {
	float:right;
}
.margin {
	margin-bottom:20px; }
.delete-border {
	border: 2px solid white; padding:0; margin-top:0px;
}
.update-border {
	border: 2px solid #ccc; padding:8px; margin-top:15px;
}
.small-font {
	font-size:13px;
}

/* vote */
.vote-up{
	float:left; width:40px; height:24px; background:url(/images/vote-up.png) no-repeat;
}
.vote-up:hover{
	float:left; width:40px; height:24px; background:url(/images/vote-up-light.png) no-repeat;
}

.vote-down{
	float:left; width:40px; height:24px; background:url(/images/vote-down.png) no-repeat;
}
.vote-down:hover{
	float:left; width:40px; height:24px; background:url(/images/vote-down-light.png) no-repeat;
}

/* add to favourite */
.star{
	float:left; width:40px; height:32px; background:url(/images/star.png) no-repeat;
}
.star:hover{
	float:left; width:40px; height:32px; background:url(/images/star-light.png) no-repeat;
}
.star-on {
	float:left; width:40px; height:32px; background:url(/images/star-light.png) no-repeat;
}

/* version control */
.versions {
	float:right; color:#ccc;
}

/* set correct answer */
.correct{
	float:left; width:40px; height:32px; background:url(/images/correct.png) no-repeat;
}
.correct:hover{
	float:left; width:40px; height:32px; background:url(/images/correct-light.png) no-repeat;
}
.correct-answer{
	float:left;
}
.correct-on{
	float:left; width:40px; height:32px; background:url(/images/correct-light.png) no-repeat;
}

/* pagination */
.pagination{
	float:left; padding:1em 0; width:100%; text-align:center;
}
.pagination > em{
	font-weight: bold; font-style:normal;
}
.pagination a, .pagination span {
	border:1px solid #ccc; padding:3px 4px;
}
.pagination span.current {
	font-weight: bold; font-style:normal;
}
.pagination a:hover, .pagination a:focus {
	text-decoration: underline;
}
.pagination span.disabled {
	color: #AAA;
}

/* index style */
#questions {
	float:left; width:720px;
}
.question {
	float:left; width:100%; border-bottom:1px dotted #ddd; padding:10px 0; }

.status {
	float:left; width:240px; }
	.status > .vote {
		float:left; width:70px; margin-right:10px; color:#555; }
		.status > .vote > .number {
			text-align:center; font-size:24px; font-weight:bold; }
		.status > .vote > .owner {
			text-align:center; font-size:13px; }
	.status > .answer {
		float:left; width:70px; margin-right:10px; }
		.status > .none {
			color:#d67376; }
		.status > .pending {
			color:#fca93e; }
		.status > .exist {
			color:#71A311; }
		.status > .answer > .number {
			text-align:center; font-size:24px; font-weight:bold; }
		.status > .answer > .owner {
			text-align:center; font-size:13px; }
	.status > .view {
		float:left; width:70px; margin-right:10px; color:#999;}
		.status > .view > .number {
			text-align:center; font-size:24px; font-weight:bold; }
		.status > .view > .owner {
			text-align:center; font-size:13px; }
	
.summary {
	margin-left:240px; }
	.title {
		font-size:17px; margin-bottom:5px; }
	.user {
		float:right; font-size:13px; margin-top: 5px; }
		.reputation {
			color:#555;	}
	.tags {
		float:left; width:80%; }
		.tag {
			float:left; border:2px solid #36c; margin-right:10px; padding:1px 6px; font-size:12px; }
/* */
.select-answer{
	-moz-box-shadow:0px 0px 10px #06C; -webkit-box-shadow:0px 0px 10px #06C; box-shadow:0px 0px 10px #06C;
}
.vote-answer{
	-moz-box-shadow:0px 0px 10px #71A311; -webkit-box-shadow:0px 0px 10px #71A311; box-shadow:0px 0px 10px #71A311;
}
/* normal size*/
.normal-block{
	float:left; width:720px;
}
.user-card{
	float:left; width:200px; border: 2px solid #E6E6E6; background:white; padding:8px; margin:8px;
}
/**/
.profile-tf {
	width:70%; border:1px solid #ccc; font-size:16px; padding:3px; margin:5px 0px; }
.profile-ta {
	width:100%; border:1px solid #ccc; font-size:16px; padding:3px; margin:5px 0px; height:200px; line-height:1.4; }
/**/
.tag-td{
	float:left; width:140px; margin:8px;
}
.big-tag {
	float:left; border:2px solid #36c; padding:2px 8px; font-size:14px; }
.tag-count{
	color:#555; vertical-align:middle; margin-left:3px;
}