#container {
	width:980px; margin:0 auto;
}
#header{
	
}
#wrapper {
	
}
#footer{
	
}
h3 {
	color: #636363;
}
.mainwords {
	float:left; line-height:1.4; color:#555; font-size:15px;
}
.votes_trend {
	width:100%; color:#999; font-size:28px; font-weight:bold; text-align:center;
}
.block {
	float:left; width:720px; border: 2px solid #E6E6E6; background:white; padding:8px; }
	.block-top {
		border-bottom:0;
	}
	.radius-block {
		-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius:6px;
	}
	.radius-block-top {
		-webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;
	}
	.radius-block-bottom {
		-webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
		-moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px;
	}
	.left-block{
		float:left; width:40px;
	}
	.right-block{
		margin-left:50px;
	}
.kid-block {
	margin-left:730px; border: 2px solid #E6E6E6; background:white; padding:8px;
}
.avatar {
	width:32px; height:32px;
}
.user-name {
	font-size:14px; color:#555; margin-left:5px; }
.golden {
	float:left; background:#fcd200; height:8px; width:8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius:4px;
}
.silver {
	float:left; background:silver; height:8px; width:8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius:4px;
}
.bronze {
	float:left; background:#cc9966; height:8px; width:8px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius:4px;
}
.metal {
	float:left;
}
.honor-td {
	padding:0 5px;
}
.rp {
	color:#555;
}
.metal-number {
	font-size:13px; color:#555;
}
.block-margin {
	margin-top:10px;
}
#create-answer {
	float:left;
}

/* button margin */
.some_margin {
	margin: 8px 0px 0px;
}

/* about comment */
.create-comment {
	float:left; width:100%; }

.comment {
	float:left; width:100%; color:#666; font-size:13px; border-bottom:1px solid #f0f0f0; padding:5px 0; line-height:1.4; 
}
.comment:last-child {
	border-bottom:0;
}
.comment_votes {
	width:24px;
}
.sub-block {
	float:left; width:100%; border: 2px solid #ccc; background:white; padding:8px; margin-top:15px;
}
.add-comment {
	float:right;
}
.margin {
	margin-bottom:20px; }
.delete-border {
	border: 2px solid white; padding:0; margin-top:0px;
}
.update-border {
	border: 2px solid #ccc; padding:8px; margin-top:15px;
}
.small-font {
	font-size:13px;
}