.border-box {
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.radius {
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius:3px; }
	.radius-round {
		-webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; }

a {
	color:#36c; text-decoration:none; }
	a:hover {
		color:#6c3; text-decoration:none;	}