.border-box {
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.radius {
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius:3px; }
	.radius-round {
		-webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; }

a {
	color:#36c; text-decoration:none; }
	a:hover {
		color:#6c3; text-decoration:none;	}

.question {
	float:left; width:100%; border-bottom:1px dotted #ddd; padding:10px 0; }

.status {
	float:left; width:240px; }
	.status > .vote {
		float:left; width:70px; margin-right:10px; color:#555; }
		.status > .vote > .number {
			text-align:center; font-size:24px; font-weight:bold; }
		.status > .vote > .owner {
			text-align:center; font-size:13px; }
	.status > .answer {
		float:left; width:70px; margin-right:10px; color:#71A311; }
		.status > .answer > .number {
			text-align:center; font-size:24px; font-weight:bold; }
		.status > .answer > .owner {
			text-align:center; font-size:13px; }
	.status > .view {
		float:left; width:70px; margin-right:10px; color:#999;}
		.status > .view > .number {
			text-align:center; font-size:24px; font-weight:bold; }
		.status > .view > .owner {
			text-align:center; font-size:13px; }
	
.summary {
	margin-left:240px; }
	.title {
		font-size:17px; margin-bottom:5px; }
	.user {
		float:right; font-size:13px; margin-top: 5px; }
		.reputation {
			color:#555;	}
	.tags {
		float:left; width:80%; }
		.tag {
			float:left; border:2px solid #36c; margin-right:10px; padding:1px 6px; font-size:12px; }

#endless {
	float:left; width:720px; margin-top:20px; }
#loadmore {
	width:64px; border:2px solid #36c; margin:0 auto; color:#36c; padding:5px 20px; cursor:pointer;
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
	.loadicon {
		background:url(/images/ui-anim_basic_16x16.gif) no-repeat; background-position: 2px 5px; }