<div class="stats-block">
	<div class="stats">
		<%= vote_block show_question.votes_trend %>
		<%= answer_block show_question.answers.count, show_question.answer_id %>
	</div>
	<%= view_block show_question.views %>
</div>